<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweet Card with Like and Comment</title>
    <link rel="stylesheet" href="/dm.css">
</head>
<body>
{{>layout/header}}

<div class="alert alert-warning" role="alert">
    채팅 기능을 열심히 개발 중 입니다.
</div>

{{>layout/footer}}
</body>
</html>
